{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

<section class="hero-section">
    <div class="hero-content container">
        <div class="hero-text">
            <h1>Transform Your Learning Experience with Savoir<span style="color:#8710d8">+</span>.</h1>
            <p>Get Access to Thousands of Courses and Take Control of Your Professional Development Today.</p>
            <div style="display: flex; column-gap: .5rem; margin-top: 2rem;" class="hero-cta-btn">
                <a style="display: inline-flex; column-gap: .3rem;" class="btn" href="/accounts/signup">
                    Join now!
                    {% comment %} <img style='height: 1.5rem; width: 1.5rem;' src='{% static 'img/arrow-right.svg' %}'> {% endcomment %}
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.4697 8.53033C13.1768 8.23744 13.1768 7.76256 13.4697 7.46967C13.7626 7.17678 14.2374 7.17678 14.5303 7.46967L18.5303 11.4697C18.8232 11.7626 18.8232 12.2374 18.5303 12.5303L14.5303 16.5303C14.2374 16.8232 13.7626 16.8232 13.4697 16.5303C13.1768 16.2374 13.1768 15.7626 13.4697 15.4697L16.1893 12.75H6.5C6.08579 12.75 5.75 12.4142 5.75 12C5.75 11.5858 6.08579 11.25 6.5 11.25H16.1893L13.4697 8.53033Z" fill="white"/>
                    </svg>                        
                </a>
                <a style="display: inline-flex; column-gap: .3rem;" class="btn" href="/courses">
                    Explore Courses
                    {% comment %} <img style='height: 1.5rem; width: 1.5rem;' src='{% static 'img/arrow-right.svg' %}'> {% endcomment %}
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.4697 8.53033C13.1768 8.23744 13.1768 7.76256 13.4697 7.46967C13.7626 7.17678 14.2374 7.17678 14.5303 7.46967L18.5303 11.4697C18.8232 11.7626 18.8232 12.2374 18.5303 12.5303L14.5303 16.5303C14.2374 16.8232 13.7626 16.8232 13.4697 16.5303C13.1768 16.2374 13.1768 15.7626 13.4697 15.4697L16.1893 12.75H6.5C6.08579 12.75 5.75 12.4142 5.75 12C5.75 11.5858 6.08579 11.25 6.5 11.25H16.1893L13.4697 8.53033Z" fill="white"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="hero-img">
            <img src='{% static 'img/hero-image.webp' %}'>
        </div>
    </div>
</section>

<section class="home-course-categories">
    <div class="container home-course-categories-content">
        <h2>Find Your Passion</h2>
        <p class="section-description">Explore our diverse range of course categories and find the perfect course to fuel your passion and professional growth.</p>
        <div class="course-categories">
            <div class="category">
                <div class="category-icon">
                    <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 5C4 4.44772 4.44772 4 5 4H19C19.5523 4 20 4.44772 20 5V17C20 17.5523 19.5523 18 19 18H13V20H17V22H7V20H11V18H5C4.44772 18 4 17.5523 4 17V5ZM6 6V16H18V6H6Z" fill="#4F46E5"/>
                    </svg>
                </div>
                <h3>Development & Deployment</h3>
                <p>Courses on Web Development, Software Development, Game Development, and other development skills.</p>
                <a href="/courses/development" class="category-link">
                    Explore
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.4697 8.53033C13.1768 8.23744 13.1768 7.76256 13.4697 7.46967C13.7626 7.17678 14.2374 7.17678 14.5303 7.46967L18.5303 11.4697C18.8232 11.7626 18.8232 12.2374 18.5303 12.5303L14.5303 16.5303C14.2374 16.8232 13.7626 16.8232 13.4697 16.5303C13.1768 16.2374 13.1768 15.7626 13.4697 15.4697L16.1893 12.75H6.5C6.08579 12.75 5.75 12.4142 5.75 12C5.75 11.5858 6.08579 11.25 6.5 11.25H16.1893L13.4697 8.53033Z" fill="currentColor"/>
                    </svg>
                </a>
            </div>

            <div class="category">
                <div class="category-icon">
                    <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3ZM12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15ZM7 6V8H17V6H7Z" fill="#4F46E5"/>
                    </svg>
                </div>
                <h3>Design & Creativity</h3>
                <p>Courses on graphic design, web design, animation, video editing, photography, and other creative skills.</p>
                <a href="/courses/design" class="category-link">
                    Explore
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.4697 8.53033C13.1768 8.23744 13.1768 7.76256 13.4697 7.46967C13.7626 7.17678 14.2374 7.17678 14.5303 7.46967L18.5303 11.4697C18.8232 11.7626 18.8232 12.2374 18.5303 12.5303L14.5303 16.5303C14.2374 16.8232 13.7626 16.8232 13.4697 16.5303C13.1768 16.2374 13.1768 15.7626 13.4697 15.4697L16.1893 12.75H6.5C6.08579 12.75 5.75 12.4142 5.75 12C5.75 11.5858 6.08579 11.25 6.5 11.25H16.1893L13.4697 8.53033Z" fill="currentColor"/>
                    </svg>
                </a>
            </div>
            
            <div class="category">
                <div class="category-icon">
                    <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM13 12H16V14H11V7H13V12Z" fill="#4F46E5"/>
                    </svg>
                </div>
                <h3>Business & Entrepreneurship</h3>
                <p>Courses on starting and growing a business, marketing, finance, project management, leadership, and other business-related skills.</p>
                <a href="/courses/business" class="category-link">
                    Explore
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.4697 8.53033C13.1768 8.23744 13.1768 7.76256 13.4697 7.46967C13.7626 7.17678 14.2374 7.17678 14.5303 7.46967L18.5303 11.4697C18.8232 11.7626 18.8232 12.2374 18.5303 12.5303L14.5303 16.5303C14.2374 16.8232 13.7626 16.8232 13.4697 16.5303C13.1768 16.2374 13.1768 15.7626 13.4697 15.4697L16.1893 12.75H6.5C6.08579 12.75 5.75 12.4142 5.75 12C5.75 11.5858 6.08579 11.25 6.5 11.25H16.1893L13.4697 8.53033Z" fill="currentColor"/>
                    </svg>
                </a>
            </div>
            
            <div class="category">
                <div class="category-icon">
                    <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 3H19C19.5523 3 20 3.44772 20 4V20C20 20.5523 19.5523 21 19 21H5C4.44772 21 4 20.5523 4 20V4C4 3.44772 4.44772 3 5 3ZM6 5V19H18V5H6ZM13 15V17H11V15H13ZM9 7V13H7V7H9ZM17 7V13H15V7H17Z" fill="#4F46E5"/>
                    </svg>
                </div>
                <h3>Data Science & Analytics</h3>
                <p>Courses on data analysis, machine learning, artificial intelligence, statistics, and other data-related skills.</p>
                <a href="/courses/datascience" class="category-link">
                    Explore
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.4697 8.53033C13.1768 8.23744 13.1768 7.76256 13.4697 7.46967C13.7626 7.17678 14.2374 7.17678 14.5303 7.46967L18.5303 11.4697C18.8232 11.7626 18.8232 12.2374 18.5303 12.5303L14.5303 16.5303C14.2374 16.8232 13.7626 16.8232 13.4697 16.5303C13.1768 16.2374 13.1768 15.7626 13.4697 15.4697L16.1893 12.75H6.5C6.08579 12.75 5.75 12.4142 5.75 12C5.75 11.5858 6.08579 11.25 6.5 11.25H16.1893L13.4697 8.53033Z" fill="currentColor"/>
                    </svg>
                </a>
            </div>
            
            <div class="category">
                <div class="category-icon">
                    <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM11 15H13V17H11V15ZM13 13.3551C14.4457 12.9248 15.5 11.5855 15.5 10C15.5 8.067 13.933 6.5 12 6.5C10.067 6.5 8.5 8.067 8.5 10H10.5C10.5 9.17157 11.1716 8.5 12 8.5C12.8284 8.5 13.5 9.17157 13.5 10C13.5 10.8284 12.8284 11.5 12 11.5C11.4477 11.5 11 11.9477 11 12.5V13H13V13.3551Z" fill="#4F46E5"/>
                    </svg>
                </div>
                <h3>Health & Wellness</h3>
                <p>Courses on fitness, nutrition, mindfulness, meditation, and other health and wellness-related skills.</p>
                <a href="/courses/health" class="category-link">
                    Explore
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.4697 8.53033C13.1768 8.23744 13.1768 7.76256 13.4697 7.46967C13.7626 7.17678 14.2374 7.17678 14.5303 7.46967L18.5303 11.4697C18.8232 11.7626 18.8232 12.2374 18.5303 12.5303L14.5303 16.5303C14.2374 16.8232 13.7626 16.8232 13.4697 16.5303C13.1768 16.2374 13.1768 15.7626 13.4697 15.4697L16.1893 12.75H6.5C6.08579 12.75 5.75 12.4142 5.75 12C5.75 11.5858 6.08579 11.25 6.5 11.25H16.1893L13.4697 8.53033Z" fill="currentColor"/>
                    </svg>
                </a>
            </div>
            
            <div class="category">
                <div class="category-icon">
                    <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM13 12.8685C14.7508 12.4296 16 10.8638 16 9C16 6.79086 14.2091 5 12 5C9.79086 5 8 6.79086 8 9C8 10.8638 9.24921 12.4296 11 12.8685V17H13V12.8685ZM10 9C10 7.89543 10.8954 7 12 7C13.1046 7 14 7.89543 14 9C14 10.1046 13.1046 11 12 11C10.8954 11 10 10.1046 10 9Z" fill="#4F46E5"/>
                    </svg>
                </div>
                <h3>Language & Communication</h3>
                <p>Courses on foreign languages, communication skills, writing, translation, and other language-related skills.</p>
                <a href="/courses/communication" class="category-link">
                    Explore
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.4697 8.53033C13.1768 8.23744 13.1768 7.76256 13.4697 7.46967C13.7626 7.17678 14.2374 7.17678 14.5303 7.46967L18.5303 11.4697C18.8232 11.7626 18.8232 12.2374 18.5303 12.5303L14.5303 16.5303C14.2374 16.8232 13.7626 16.8232 13.4697 16.5303C13.1768 16.2374 13.1768 15.7626 13.4697 15.4697L16.1893 12.75H6.5C6.08579 12.75 5.75 12.4142 5.75 12C5.75 11.5858 6.08579 11.25 6.5 11.25H16.1893L13.4697 8.53033Z" fill="currentColor"/>
                    </svg>
                </a>
            </div>
            
            <div class="category">
                <div class="category-icon">
                    <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM9 8H7V16H9V8ZM13 8H11V16H13V8ZM17 8H15V16H17V8Z" fill="#4F46E5"/>
                    </svg>
                </div>
                <h3>Music & Entertainment</h3>
                <p>Courses on music production, DJing, acting, screenwriting, and other entertainment-related skills.</p>
                <a href="/courses/entertainment" class="category-link">
                    Explore
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.4697 8.53033C13.1768 8.23744 13.1768 7.76256 13.4697 7.46967C13.7626 7.17678 14.2374 7.17678 14.5303 7.46967L18.5303 11.4697C18.8232 11.7626 18.8232 12.2374 18.5303 12.5303L14.5303 16.5303C14.2374 16.8232 13.7626 16.8232 13.4697 16.5303C13.1768 16.2374 13.1768 15.7626 13.4697 15.4697L16.1893 12.75H6.5C6.08579 12.75 5.75 12.4142 5.75 12C5.75 11.5858 6.08579 11.25 6.5 11.25H16.1893L13.4697 8.53033Z" fill="currentColor"/>
                    </svg>
                </a>
            </div>

            <div class="category">
                <div class="category-icon">
                    <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM12 17C14.7614 17 17 14.7614 17 12C17 9.23858 14.7614 7 12 7C9.23858 7 7 9.23858 7 12C7 14.7614 9.23858 17 12 17ZM11 12V10H13V12H15V14H13V16H11V14H9V12H11Z" fill="#4F46E5"/>
                    </svg>
                </div>
                <h3>Science & Engineering</h3>
                <p>Courses on physics, chemistry, biology, engineering, robotics, and other science and technology-related skills.</p>
                <a href="/courses/science" class="category-link">
                    Explore
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.4697 8.53033C13.1768 8.23744 13.1768 7.76256 13.4697 7.46967C13.7626 7.17678 14.2374 7.17678 14.5303 7.46967L18.5303 11.4697C18.8232 11.7626 18.8232 12.2374 18.5303 12.5303L14.5303 16.5303C14.2374 16.8232 13.7626 16.8232 13.4697 16.5303C13.1768 16.2374 13.1768 15.7626 13.4697 15.4697L16.1893 12.75H6.5C6.08579 12.75 5.75 12.4142 5.75 12C5.75 11.5858 6.08579 11.25 6.5 11.25H16.1893L13.4697 8.53033Z" fill="currentColor"/>
                    </svg>
                </a>
            </div>
            
            <div class="category">
                <div class="category-icon">
                    <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 3H19C19.5523 3 20 3.44772 20 4V20C20 20.5523 19.5523 21 19 21H5C4.44772 21 4 20.5523 4 20V4C4 3.44772 4.44772 3 5 3ZM6 5V19H18V5H6ZM11 7H13V9H11V7ZM9 11H15V13H9V11ZM11 15H13V17H11V15Z" fill="#4F46E5"/>
                    </svg>
                </div>
                <h3>Art & Design</h3>
                <p>Courses on drawing, painting, sculpture, graphic design, and other creative skills.</p>
                <a href="/courses/artdesign" class="category-link">
                    Explore
                    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.4697 8.53033C13.1768 8.23744 13.1768 7.76256 13.4697 7.46967C13.7626 7.17678 14.2374 7.17678 14.5303 7.46967L18.5303 11.4697C18.8232 11.7626 18.8232 12.2374 18.5303 12.5303L14.5303 16.5303C14.2374 16.8232 13.7626 16.8232 13.4697 16.5303C13.1768 16.2374 13.1768 15.7626 13.4697 15.4697L16.1893 12.75H6.5C6.08579 12.75 5.75 12.4142 5.75 12C5.75 11.5858 6.08579 11.25 6.5 11.25H16.1893L13.4697 8.53033Z" fill="currentColor"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="home-featured-courses">
    <div class="container home-featured-courses-content">
        <h2>Featured Courses</h2>
        <p style="margin: 1rem 0;">Discover our top-rated courses taught by industry experts and start mastering new skills today.</p>
        <div class="courses">
            {% for course in courses|slice:6 %}
<div class="course">
    <div class="course-thumbnail">
        <a href="{% url 'course_details' instructor=course.instructor slug=course.slug %}">
            <img src='{{course.thumbnail.url}}'>
        </a>
    </div>
    <div class="course-details">
        <a href="{% url 'course_details' instructor=course.instructor slug=course.slug %}"><h3>{{ course.title|slice:":80" }}</h3></a>
        <p style="display: inline-flex; column-gap: 1rem; justify-content: center; align-items: center;" class="instructor">
            <img class="instructor-img" src="https://api.dicebear.com/5.x/shapes/svg?seed={{ course.instructor }}">
            Instructor: {{ course.instructor }}
        </p>
        <p class="course-desc">{{ course.description|slice:":100" }}</p>
        <p class="course-lvl-time">
            {{ course.level }} &middot; {{ course.duration }} Hours
        </p>
        <a href="{% url 'course_details' instructor=course.instructor slug=course.slug %}" class="btn enroll-btn">Enroll now</a>
    </div>
</div>
{% endfor %}
        </div>
    </div>
</section>

<section class="home-testimonials">
    <div class="container home-testimonials-content">
        <h2>Testimonials</h2>
        <p style="margin: 1rem 0;">Hear from our satisfied students.</p>
        <div class="testimonial-grid">
        <img src='{% static 'img/testimonial-img.webp' %}'>
        <div class="testimonial-container">
            <div id="testimonial-0" class="testimonial">
                <img src="https://api.dicebear.com/5.x/shapes/svg?seed=JohnDoe">
                <p style=" margin: .5rem 0;">"I've taken many online courses before, but this one stands out. The instructor was engaging and the content was well-organized. I learned so much and feel confident putting my new skills to use!"</p>
                <h3>- John Doe</h3>
                <p style="font-size: small;">Data Analyst</p>
            </div>
            <div id="testimonial-1" class="testimonial">
                <img src="https://api.dicebear.com/5.x/shapes/svg?seed=Felix">
                <p>"The course exceeded my expectations. It covered everything from the basics to advanced techniques, and the instructor was knowledgeable and patient. Highly recommend!"</p>
                <h3>- Sarah K</h3>
                <p style="font-size: small;">Data Analyst</p>
            </div>
            <div id="testimonial-2" class="testimonial">
                <img src="https://api.dicebear.com/5.x/shapes/svg?seed=Felix">
                <p style=" margin: .5rem 0;">"I've taken many online courses before, but this one stands out. The instructor was engaging and the content was well-organized. I learned so much and feel confident putting my new skills to use!"</p>
                <h3>John Doe</h3>
                <p style="font-size: small;">Data Analyst</p>
            </div> 
        </div>
        </div>
    </div>
</section>

<section class="home-faq">
    <div class="container home-faq-content">
        <h2>Got questions? We've got answers.</h2>
        <p style="margin: 1rem 0;">Check out our FAQ section to learn more about Savoir<span style="color:#8710d8">+</span></p>
        <div class="faq-container">
            <div class="faq">
                <p class="question">What is Savoir<span style="color:#8710d8">+</span>?</p>
                <p class="answer">Savoir<span style="color:#8710d8">+</span> is an online learning management system (LMS) that offers courses and training programs in a variety of subjects. It is designed to provide users with a personalized and engaging learning experience.</p>
            </div>
            <div class="faq">
                <p class="question">Who can use Savoir<span style="color:#8710d8">+</span>?</p>
                <p class="answer">Savoir<span style="color:#8710d8">+</span> is open to anyone who wants to learn and improve their skills. Our courses are designed for individuals, businesses, and organizations looking to develop their knowledge and skills.</p>
            </div>
            <div class="faq">
                <p class="question">How do I sign up for Savoir<span style="color:#8710d8">+</span>?</p>
                <p class="answer">You can sign up for Savoir<span style="color:#8710d8">+</span> by visiting our website and clicking on the "Sign Up" button. You will need to provide some basic information, such as your name and email address, to create an account.</p>
            </div>
            <div class="faq">
                <p class="question">How much do Savoir<span style="color:#8710d8">+</span> courses cost?</p>
                <p class="answer">The cost of courses on Savoir<span style="color:#8710d8">+</span> varies depending on the subject, the level of the course, and the instructor. Some courses are free, while others may cost several hundred dollars. You can view the price of a course on the course page before enrolling.</p>
            </div>
            <div class="faq">
                <p class="question">What is the refund policy for Savoir<span style="color:#8710d8">+</span> courses?</p>
                <p class="answer">The refund policy for Savoir<span style="color:#8710d8">+</span> courses varies depending on the course and the instructor. Some courses may offer a full refund within a certain timeframe, while others may not offer refunds at all. You can view the refund policy for a course on the course page before enrolling.</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}