{% extends 'base.html' %}
{% load static %}

{% block title %}{{ course.lesson_title }}{% endblock title %}

{% block content %}
<section class="lesson-detail">
    <div class="container">
       
        <div class="video-container" style="display: flex; justify-content: center;">
            <video controls style="max-width: 100%; border-radius: 8px;">
                <source src="{{ course.lesson_video.url }}" type="{{ course.lesson_video.mime_type }}">
                Your browser does not support the video tag.
            </video>
        </div>
        <h1 style="font-size: 2rem; text-align: center; margin-bottom: 1rem;">
            {{ course.title }}
        </h1>
    </div>
</section>
{% endblock content %}
